<template>
  <v-app light>
    <v-app-bar app color="white" flat>
      <v-container>
        <v-row>
          <v-img
            max-height="48"
            max-width="48"
            src="https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
          ></v-img
        ></v-row>
      </v-container>

      <v-spacer />
      <v-btn text>Button1</v-btn>
      <v-btn text>Button2</v-btn>
      <v-btn text>Button3</v-btn>
      <v-btn text>Button4</v-btn>
    </v-app-bar>

    <v-main>

        <nuxt />
    </v-main>
    <v-footer absolute app style="background-color: #284586">
      <v-spacer/>
      <p style="color:#FFFFFF">&copy; {{ new Date().getFullYear() }} Au-Yeung Pak Ho</p>      <v-spacer/>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
    };
  }
};
</script>
