<template>
  <div>
    <v-img src="https://i.redd.it/c3uhsgo1vx541.jpg" :height="imageSize">
    </v-img>
    <div>
      <v-container>
        <v-col>
          <H1>Lorem ipsumdolor sit amet,</H1> <H1> consectetur,</H1></v-col
        >
        <v-col
          ><p style="color: #77777A">
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p></v-col
        >
      </v-container>

      <v-container max-width="75%">
        <v-slide-group show-arrows center-active class="imageSlide">
          <v-slide-item v-for="i in 15">
            <v-card class="ma-5" :width="imageSlideItemSize.width">
              <v-img
                src="https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
              ></v-img>
            </v-card>
          </v-slide-item>
        </v-slide-group>
      </v-container>
      <div style="background-color: #F5F5F6">
        <v-container>
          <v-row align="center" class="md-12">
            <v-col cols="12">
              <p align="center" style="color: #77777A">
                Lorem ipsumdolor sit amet,
              </p>
              <p align="center" style="color: #E1E1E4">
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. <br />Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
              </p>
            </v-col>
          </v-row>

          <v-row
            ><v-col align="center"
              ><v-btn color="#BA924C" class="white--text"
                >Button 5</v-btn
              ></v-col
            ></v-row
          >
        </v-container>

        <div style="background-color: #284586;margin-bottom:-30px">
          <v-container style="margin-top:50px; padding-top:75px">
            <v-row>
              <v-col cols="4">
                <p style="color: #FFFFFF">Lorem</p>
                <p style="color: #7A89AC;margin-top:-10px">
                  sit amet, consectetur adipiscing elit,<br />labore et dolore
                </p>
                <v-row style="margin-left:1px;margin-top:-13px">
                  <v-btn color="white" fab height="30px" width="30px"
                    ><v-icon x-small color="#77777A">mdi-twitter</v-icon></v-btn
                  >
                  <v-btn
                    color="white"
                    fab
                    height="30px"
                    width="30px"
                    style="margin-left:10px"
                    ><v-icon x-small color="#77777A"
                      >mdi-facebook</v-icon
                    ></v-btn
                  >
                </v-row>
              </v-col>
              <v-spacer />
              <v-col cols="2">
                <p style="color: #FFFFFF">Lorem</p>
                <p style="color: #7A89AC;margin-top:-10px">
                  sit amet, consectetur adipiscing elit,<br />labore et dolore
                  Ut enim ad minim veniam, quis
                </p>
              </v-col>
              <v-col cols="2">
                <p style="color: #FFFFFF">Lorem</p>
                <p style="color: #7A89AC;margin-top:-10px">
                  sit amet, consectetur adipiscing elit,<br />labore et dolore
                  Ut enim ad minim veniam, quis
                </p></v-col
              >
              <v-spacer />
              <v-col cols="2">
                <v-img
                  max-height="150"
                  max-width="150"
                  src="https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
                ></v-img
              ></v-col>
            </v-row>
          </v-container>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    imageSlideItemSize: function() {
      if (window.innerWidth >= 1920 && window.innerWidth < 2560) {
        return {
          width: (1920 / 3) * 0.8,
          height: (1920 / 3) * 0.8
        };
      } else if (window.innerWidth >= 2560) {
        return {
          width: (2560 / 3) * 0.6,
          height: (2560 / 3) * 0.6
        };
      } else {
        return {
          width: (window.innerWidth / 3) * 0.6,
          height: (window.innerWidth / 3) * 0.6
        };
      }
    },
    imageSize: function() {
      return window.innerHeight * 0.5;
    }
  }
};
</script>

<style>
.imageSlide > .v-slide-group__next > i {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(119, 119, 122);
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.imageSlide > .v-slide-group__prev > i {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(119, 119, 122);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.imageSlide > .v-slide-group__next--disabled > i {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(119, 119, 122);
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.imageSlide > .v-slide-group__prev--disabled > i {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(119, 119, 122);
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
</style>
